.container {
    display: grid;
    grid-template-columns: 250px minmax(600px , 1fr) 250px;
    grid-template-rows: 60px minmax(200px , 1fr) 60px;
    grid-template-areas: 
    
    "header header  header"
    "side1  content side2"
    "footer footer  footer";


    header {
        grid-area: header;
        background: #333;
        color: #fff;
    }

    sidebar-menu {
        grid-area: side1;

        &.right {
            grid-area: side2;
        }
    }

   footer {
        grid-area: footer;
    }
}