.container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-gap: 15px;


    .item {
        background: var(--orange);
        text-align: center;
    }
}


.griddy {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 15px;
    margin-top: 25px;


    .item {
        background: var(--red);
        text-align: center;
    }
}